body{
  margin: 0;
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.body-result{
background-color: rgba(207, 88, 171, 0.712);
opacity: 0.8;
border: 2px solid black;
border-radius: 15px;
}
.form{
justify-content: center;
align-items: center;
display: flex;
margin-top: 30px;
}

.list-item{
  list-style: none;
}
.list-item li{
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.item{
  width: 20px;
  height: 20px;
}
